html {
  min-height: 100%;
}

.header {
  padding: 3rem 0;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.main-wrapper {
  padding: 1rem 0;
}

.main-wrapper__subtitle {
  margin: 0 0 3rem;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col {
  flex: 0 0 280px;
}
